<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
	<title>Hello, world!</title>
	<link href="https://fonts.googleapis.com/css2?family=Gravitas+One&family=Heebo&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="stylesheets/events.css" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
</head>

<body>

	<div class="containerA">
		<div class="item-a">
			<button class="dropbtn">Find Category <svg width="12" height="8" viewBox="0 0 12 8" fill="none"
					xmlns="http://www.w3.org/2000/svg">
					<path id="Vector"
						d="M1.41 0.589966L6 5.16997L10.59 0.589966L12 1.99997L6 7.99997L0 1.99997L1.41 0.589966Z"
						fill="#efefef" />
				</svg></button>
			<div class="dropdown-content">
				<a href="events/category/music">Music</a>
				<a href="events/category/sports">Sports</a>
				<a href="events/category/arts">Arts</a>
				<a href="events/category/education">Education</a>
			</div>
		</div>

		<div class="item-b">
			<input id="toggle" type="checkbox"></input>
			<label for="toggle" class="hamburger">
				<div class="top-bun"></div>
				<div class="meat"></div>
				<div class="bottom-bun"></div>
			</label>

			<div class="nav">
				<div class="nav-wrapper">
					<nav>
						<a href="/">Home</a><br>
						{{!-- <a href="#">Saved</a><br> --}}
						<a href="#">About</a><br>
					</nav>
				</div>
			</div>
		</div>

	</div>

	{{{ body }}}

</body>

</html>