* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Heebo', sans-serif;
}

body {
    background-color: #efefef;
    height: 100vh;
    
}

.wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 20px;
    transition: 150ms ease-in-out;
}


.event-form {
  max-width: 550px;
  margin: 0 auto;
  background-color: #efefef;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
  3px 3px 5px rgba(0, 0, 0, 0.1);
}

.event-form:hover {
  transform: scale(1.05);
  box-shadow: -4px -4px 7px rgba(255, 255, 255, 1),
  5px 5px 7px rgba(0, 0, 0, 0.1);
}

.input-fields {
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.input-fields,
.msg {
    width: 48%;
}

.input-fields .input,
.msg textarea {
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #6c63ff;
    padding: 10px;
    color: #535461;
    width: 100%;
}

.msg textarea {
    height: 212px;
}

::-webkit-input-placeholder {
    color: #535461;
}

::-moz-input-placeholder {
    color: #535461;
}

::-ms-input-placeholder {
    color: #535461;
}

.btn {
    background-color: #efefef;
    border: none;
    color: #535461;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
      3px 3px 5px rgba(0, 0, 0, 0.1);
    /* box-shadow: 0 5px 6px 0 #9fa0a87c; */
    transition: 100ms ease-in-out;
  }
  
  .btn:hover {
    /* background-color: #3AD29F;
      text-decoration: none;
      color: #ffffff;
      transform: scale(1.05);
      box-shadow: 0 6px 7px 0 #95969e7c; */
    color: #3AD29F;
    text-decoration: none;
    box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1),
      inset 3px 3px 5px rgba(0, 0, 0, 0.1);
  }
  
 /* body {
    font-family: 'Heebo', sans-serif;
    background: #efefef;
    color: #535461;
    text-align: center;
    max-width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
  } */

  .item-a {
    font-family: 'Gravitas One', cursive;
    color: #f55f44;
    margin-top: 23px;
    grid-area: logo;
    font-size: 28px;
    justify-self: center;
  }
  
  .item-b {
    grid-area: menu;
    justify-self: center;
  }
  
  .containerA {
    display: grid;
    grid-template-columns: 50%, auto, 50%;
    grid-template-rows: 100%;
    grid-template-areas: "logo . menu";
  }

  #toggle {
    display: none;
  }
  
  .hamburger {
    margin-right: 15px;
    margin-top: 18px;
    position: absolute;
    right: 6%;
    width: 2em;
    height: 45px;
    z-index: 5;
  }
  
  .hamburger div {
    position: relative;
    width: 3em;
    height: 7px;
    border-radius: 3px;
    background-color: #535461;
    margin-top: 8px;
    transition: all 0.3s ease-in-out;
  }
  
  .nav {
    display: inline-block;
    position: fixed;
    width: 100%;
    height: 24%;
    background-color: #6c63ff;
    top: -100%;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
  }

  .nav-wrapper {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
  }
  
  nav {
    text-align: left;
    margin-left: 10%;
  }

  nav a {
    position: relative;
    text-decoration: none;
    color: #efefef;
    font-size: 2em;
    display: inline-block;
    margin-top: 0.5em;
    transition: color 0.2s ease-in-out;
    letter-spacing: 1px;
  } 

  nav a:before {
    content: "";
    height: 0;
    position: absolute;
    width: 0.25em;
    background-color: white;
    left: -0.5em;
    transition: all 0.2s ease-in-out;
  }

  nav a:hover {
    color: white;
  }

  nav a:hover:before {
    height: 100%;
  }
  
  /**
  Animations
  **/
  #toggle:checked + .hamburger .top-bun {
    background-color: #efefef;
    transform: rotate(-45deg);
    margin-top: 25px;
  }
  #toggle:checked + .hamburger .bottom-bun {
    background-color: #efefef;
    opacity: 0;
    transform: rotate(45deg);
  }
  #toggle:checked + .hamburger .meat {
    background-color: #efefef;
    transform: rotate(45deg);
    margin-top: -7px;
  }
  
  #toggle:checked + .hamburger + .nav {
    top: 0;
    transform: scale(1);
  }

